.*~
.tmp*
.*.swp
config/database.yml
db/schema.rb
db/*.sqlite3
log/*
log/**/*
tmp/*
tmp/**/*
*.orig
.DS_Store
.bundle
*.tmproj
.BACKUP
.LOCAL
.BASE
.REMOTE
*.tmproj
*.sublime*
nohup.out
.rspec
dump.rdb
temp-*.rdb
coverage/
public/assets/
.idea/
/vendor/bundle
postgres.log
latest.dump
.env
bin/
.ruby-version
vendor/bundle
